In [2]:
import pandas as pd
from pandas import DataFrame, read_csv
import matplotlib.pyplot as plt
import sys
import matplotlib
%matplotlib inline


print('Python version ' + sys.version)
print('Pandas version ' + pd.__version__)
print('Matplotlib version ' + matplotlib.__version__)

Python version 3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]
Pandas version 1.0.1
Matplotlib version 3.1.3

In [3]:
names = ['Bub','Jessica','Mary','John','Mel']
births = [968, 155, 77, 578, 973]
# Merge the two lists using zip

In [4]:
BabyDataSet = list(zip(names,births))
print(BabyDataSet)

[('Bub', 968), ('Jessica', 155), ('Mary', 77), ('John', 578), ('Mel', 973)]

In [5]:
# creating a dataframe object
df = pd.DataFrame(data = BabyDataSet, columns = ["names","births"])
print(df)

     names  births
0      Bub     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

In [6]:
# Exporting dataframe to a csv file
df.to_csv('births1880.csv', index = False, header = False)

In [9]:
location = 'C:\\Users\\hughh\\Desktop\\IntroDS\\LearningPandas'
file_name = '/births1880.csv'
location += file_name

In [10]:
df = pd.read_csv(location, names = ['names','births'])
df

     names  births
0      Bub     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973